body{
  background-color: #C4C4C4;
  margin: 0 auto;
}

/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


/* reset */
html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed,
      figure, figcaption, footer, header, hgroup,
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
      }
li {
  list-style: none;
}
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
button:hover{
  cursor: pointer;
}

/* 스타일 적용 */

main {
  position: relative;
  max-width: 520px;
  height: 736px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid  black;/*색만 수정 해야하는 사항*/
  background: #FFF;
  margin: 0 auto;
}


/* 로그인 또는 회원가입 header디자인 */
h2 {
  color: #000;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  width: fit-content;
  margin: 20px auto 18px;
  position: relative;
}

.btn-x {
  position: absolute;
  right: 24px;
  top: 22px;
  border: none;
  background-color: #FFF;
  width: 16px;
  height: 16px;
  background-image: url(../../HTML/images/close.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-x:hover {
  cursor: pointer;
}

/* main section 디자인 */
.main-sec {
  border-top: 1px solid #C4C4C4;
}

/*아이디 비밀번호 입력란 디자인*/
.wrapper {
  margin-left: 24px;
}

.wrapper-idpw {
  display: flex;
  flex-direction: column;
}

h3 {
  color: #000;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  width: 369px;
  height: 24px;
  margin-top: 26px;
  margin-bottom: 24px;

}

input {
  width: 472px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  background: #FFF;
  padding-left: 16px;
  box-sizing: border-box;
}
input::placeholder {
  display: inline;
  color: #767676;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  /* background-color: greenyellow; */
}
.inp.ID {
  margin-bottom: 6px;
  border: 2px solid #F4492E;
  background: #FFF;
}
.PS {
  margin-bottom: 10px;
}

/* 아이디, 비밀번호을 올바르게 입력 안 했을시 경고문 */
.error.ID {
  align-self: flex-start;
  color: #F4492E;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  }


/* 로그인 상태 유지 */
.txt-hide {
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
}
.labl-hold {
  position: relative;
  vertical-align: -5px;
  margin-left: 10px;
  color: #767676;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}
.labl-hold::before {
  display: inline-block;
  content: '';
  width: 22px;
  height: 22px;
  vertical-align: -5px;
  background: url(../../HTML/images/check-box.png) no-repeat;

  padding-right: 8px;
}
.labl-hold:hover{
  cursor: pointer;
}

/* 로그인 버튼 디자인 */
.btn-login {
  display: block;
  margin: 21px auto;
  width: 472px;
  height: 50px;
  border-radius: 5px;
  background: #2F80ED;
  border: #2F80ED;
  color: #FFF;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

/* 회원가입 | 아이디/비밀번호 찾기 버튼 */
.side-tool {
  width: fit-content;
  margin: 0 auto;
}
.side-tool button,p{
  display: inline;
  color:#767676;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.side-tool button {
  border: none;
  background-color: #FFF;
}
.side-tool p {
  margin: 0 12px;
}

/* '또는' 디자인 */
.line {
  display: block;
  width: fit-content;
  margin: 20px auto;
  color: #767676;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .line::before {
    display: inline-block;
    content: '';
    width: 210px;
    height: 1px;
    vertical-align: 3px;
    background-color: #C4C4C4;
    margin-right: 13px;
  }
  .line::after {
    display: inline-block;
    content: '';
    width: 210px;
    height: 1px;
    vertical-align: 3px;
    background-color: #C4C4C4;
    margin-left: 13px;
  }


/* 다른 계정으로 로그인 하기 디자인 */
.difLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 472px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #767676;
  background: #FFF;
  text-decoration: none;
  color: #767676;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.google {
  background: url(../../HTML/images/Google__G__Logo\ 1.png) no-repeat;
  background-position: 3% 50%;
  border-radius: 5px;
  border: 1px solid #767676;
}

.facebook {
  background: url(../../HTML/images/facebook.png) no-repeat;
  background-position: 3% 50%;
  border-radius: 5px;
  border: 1px solid #2D9CDB;
}

.naver {
  background: url(../../HTML/images/naver-logo.png) no-repeat;
  background-position: 3% 50%;
  border-radius: 5px;
  border: 1px solid #00BF18;
}

.kakao {
  background: url(../../HTML/images/message-circle.png) no-repeat;
  background-position: 3% 50%;
  border-radius: 5px;
  border: 1px solid #F2C94C;
}